<div class="container" [ngClass]="{'dark-theme': themeService.isDarkTheme()}">    
    <div class="sort-by-container">
        <label for="regionFilter">Sort by:</label>
        <div class="sortBy" [ngClass]="{'dark-theme': themeService.isDarkTheme()}">            
            <label name="sortByFilter">{{selectedSortBy}}</label>
            <i (click)="setDropDown(!dropDown)" class="fa fa-caret-down"></i>
        </div>
    <div *ngIf="dropDown" class="sort-options" id='sort-options' [ngClass]="{'dark-theme': themeService.isDarkTheme()}">
            <div class="sort-item" [ngClass]="{'dark-theme': themeService.isDarkTheme()}"
                *ngFor="let sort of sortBy" (click)="handleSortByChanged(sort)">{{sort}}</div>
        </div>
    </div>

    <!-- <p *ngIf="countries">Number of countries recived: {{countries.length}}</p> -->
    <div class="card-container" [ngClass]="{'dark-theme': themeService.isDarkTheme()}">
        <app-country 
            *ngFor="let country of countries" 
            [country]="country" 
            routerLink="/country/{{country.cca2}}" >
        </app-country>

    </div>
</div>