.flag-container {
    display: flex;
    gap: 40px;

}
.description-container {
    font-size: small;
}
.label-value-container {
    margin: 10px 0px;
}
.label {
    font-weight: 600;    
}

h2 {
    font-family: sans;
    font-weight: 500;
}

.flag {
    border: 1px solid;
}

.border-button {
    background: white;
    margin-right: 15px;
    padding: 6px 20px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.12);
}

.border-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);    
}

.border-container {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    gap: 1rem;
    margin: 1rem 5vw;
}