$dark-background: rgb(22, 35, 37);
$light-background: rgb(234, 242, 243);
$dark-color: lightgray;
$light-color: rgb(76, 96, 107);
$button-bg: #bbd0d1;
$dark-button-bg: darkslategray;
$button-bg-hover: #bee8ee;
$dark-button-bg-hover: rgba(173, 255, 47, 0.5);
$selection-bg:#55747c;
$selection: aliceblue;
$dark-selection-bg: rgba(173, 255, 47, 0.65);
$link-color: #bee8ee;
$dark-link-color: greenyellow;
